{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Django App</title>
    <link rel="stylesheet" href="{% static 'styles/globals.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/StackForgeLogo.png' %}">
</head>

<body>
    <div class="template-wrapper">
        <img src="{% static 'assets/StackForgeLogo.png' %}" alt="StackForge Logo">
        <h1>Stack Forge with Django</h1>
        <p>
            This is a single page built with Django by the Stack Forge team for you to get started!
        </p>
        <a href="https://stackforgeengine.com" target="_blank" rel="noopener noreferrer">
            https://stackforgeengine.com
        </a>
    </div>
</body>

</html>