@keyframes projectDetailsCellFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.projectDetailsCellFadeIn {
    animation: projectsCellFadeIn 2s ease-out;
}

.projectDetailsPageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #0E0B1B, #29282D);
}

.projectDetailsCellHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 60px) !important;
    min-height: calc(100vh - 60px) !important;
    overflow: visible;
    position: relative;
}

.projectDetailsNavBar {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 40px;
    max-height: 40px;
    background-color: rgba(25, 25, 25, 0.9);
    border: none;
    border-bottom: 0.2vh solid rgba(255, 255, 255, 0.1);
    border-right: 0.2vh solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    gap: 3vw;
    overflow-x: scroll;
}

.projectDetailsNavBar button {
    background-color: rgba(255, 255, 255, 0.0);
    padding: 0;
    font-size: 0.7rem;
    font-weight: 600;
    color: #c1c1c1;
    height: 100%;
    border-radius: 0;
    border: none;
    outline: none;
}

.projectDetailsNavBar button:hover {
    color: #f5f5f5;
    border: none;
    border-bottom: 2px solid #f5f5f5;
    outline: none;
}

.projectDetailsNavBar button:focus {
    color: #c1c1c1;
    border: none;
    outline: none;
}

.projectDetailsTopBar {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    max-height: 80px;
    background-color: rgba(25, 25, 25, 0.7);
    border: none;
    border-bottom: 0.2vh solid rgba(255, 255, 255, 0.1);
    border-right: 0.2vh solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.projectDetailsTopBar h1 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #f5f5f5;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    padding: 0 1rem;
    font-style: italic;
}

.projectDetailsTopBar h1 p {
    font-size: 0.5rem;
    font-weight: 500;
    color: #f5f5f5;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-style: italic;
    opacity: 0.8;
    padding: 0;
    margin: 0.4rem 0 0 0;
}

.projectDetailsTopBar span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 500px) {
    .projectDetailsTopBar span {
        display: none;
    }
}

.projectDetailsTopBar span button {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #A3A3A3;
    border-radius: 6px;
    box-shadow: 0 0 10px black;
    height: 40px;
    font-size: 0.7rem;
    font-weight: 800;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1rem;
    box-sizing: border-box;
    font-style: italic;
}

.projectDetailsTopBar span button p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.projectDetailsTopBar span button svg {
    font-size: 1.2rem;
}

.projectDetailsTopBar span button:hover {
    color: #f1f1f1;
    border: none;
    border: 1px solid #A3A3A3;
    outline: none;
    opacity: 0.6;
}

.projectDetailsTopBar span button:focus {
    color: #f1f1f1;
    border: 1px solid #A3A3A3;
    outline: none;
}

.projectDetailsTopBarSupplement {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 40px;
    max-height: 40px;
    background-color: #1B1A24;
    border: none;
    border-bottom: 0.2vh solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    display: flex;
    gap: 2vw;                       
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    z-index: 2;
    overflow: hidden;
}

.projectDetailsSearchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    height: 35px;
    box-sizing: border-box;
    overflow: visible;
    background-color: rgba(0,0,0,0.2);
    border-right: 0.2vh solid rgba(255, 255, 255, 0.1);
    width: fit-content;         
    min-width: max-content;
    padding: 0 2rem;
    gap: 1rem;
}

.projectDetailsSearchContainer small {
    font-size: 0.7rem;
    font-weight: 800;
    color: #c1c1c1;
    opacity: 0.9;
    width: 100%;
    white-space: nowrap;
}

.projectDetailsSearchContainer button {
    background-color: rgba(255,255,255,0.0);
    padding: 0; 
    font-size: 0.8rem; 
    font-weight: 900; 
    color: #c1c1c1;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer; 
    border: none; 
    outline: none; 
}

.projectDetailsSearchContainer button:hover {
    opacity: 0.6; 
    transform: scale(1.1);
    border: none; 
    outline: none; 
}


.projectDetailsSearchContainer button:focus {
    opacity: 1; 
    transform: scale(1.1);
    border: none; 
    outline: none; 
}

.projectDetailsSearchBarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8rem;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.0); 
    border: none; 
    flex: 0 0 auto;
}

.projectDetailsSearchIcon,
.projectDetailsSearchIconSupplement {
    color: #A3A3A3;
    margin-right: 0.5rem;
    font-size: 0.8rem; 
    font-weight: 900; 
}

.projectDetailsSearchIconSupplement {
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin-left: 0.5rem;
}

.projectDetailsSearchIconSupplement:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.projectDetailsSearchInput {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.7rem;
    font-weight: 800;
    color: #A3A3A3;
}

.searchInput::placeholder {
    color: #8b8b8b;
    font-size: 0.7rem;
    font-weight: 800;
    flex: 0 0 auto;
    opacity: 1.0 !important;
}

.projectDetailsNavContainer {
    flex: 1 1 2;
    min-width: 70%;                      
    max-width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0 0 0 2rem;
}

.projectDetailsNavContainer span {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
    min-width: max-content;
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex: 2;
}

.projectDetailsNavContainer span button {
    background-color: transparent;
    border-bottom: 2px solid #f5f5f5;
    color: #f5f5f5;
    padding: 0.4rem 0;
    font-size: 0.7rem;
    font-weight: 800;
    height: 100%;
    border-radius: 0;
    border: none;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    flex: 0 0 auto;
    padding: 0 1rem;
    font-style: italic;
}

.projectDetailsNavContainer span button:hover {
    color: #f5f5f5;
    border: none;
    border-bottom: 2px solid #f5f5f5;
    outline: none;
}

.projectDetailsNavContainer span button:focus {
    color: #c1c1c1;
    border: none;
    outline: none;
}

.projectDetailsContainer {
    box-sizing: border-box;
    color: #000;
    padding: 20px 20px 60px 20px;
    margin: 0 auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.projectDetailsDeploymentSnapshot {
    width: 250px;
    height: 180px;
    object-fit: contain;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    box-shadow: 0 0 10px black;
    background-color: #171717;
    overflow: hidden;
}

.projectDetailsDeploymentSnapshot img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.productionDeploymentCell {
    width: 100%;
    min-height: 450px;
    max-height: 450px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    gap: 1rem;
    animation: projectDetailsCellFadeIn 0.5s ease-out;
    overflow: scroll;
    max-width: 1100px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px black;
}

.productionDeploymentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productionDeploymentHeader h2 {
    color: #f5f5f5;
    font-weight: 600;
    margin: 0;
    font-size: 1.2rem;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.4rem;
}

.deploymentMenuButtons {
    display: flex;
    gap: 1rem;
}

.deploymentMenuButtons button {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #A3A3A3;
    border-radius: 6px;
    box-shadow: 0 0 10px black;
    height: 35px;
    font-size: 0.7rem;
    font-weight: 700;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 0 0.8rem;
    box-sizing: border-box;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.deploymentMenuButtons button:hover {
    opacity: 0.6;
    outline: none;
    border: 1px solid #A3A3A3;
}

.deploymentMenuButtons button:focus {
    outline: none;
    border: 1px solid #A3A3A3;
}


@media (max-width: 600px) {
    .deploymentMenuButtons button {
        display: none;
    }
}

.productionDeploymentBody {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.productionDeploymentScreenshot {
    width: 400px;
    height: 300px;
    background-color: #171717;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productionDeploymentScreenshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 700px) {
    .productionDeploymentScreenshot {
        display: none;
    }
}

.productionDeploymentPlaceholder {
    color: #f5f5f5;
    font-style: italic;
    font-size: 0.9rem;
    opacity: 0.7;
    text-align: center;
}

.productionDeploymentDetails {
    flex: 1;
    height: 400px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    gap: 1rem;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.1);
}

.deploymentDetailLineFlex {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.deploymentDetailLine {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0.4rem;
}

.deploymentDetailLine strong {
    width: 80px;
    color: #f1f1f1;
    font-size: 0.8rem;
    font-style: italic;
    padding: 0;
    margin-bottom: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.deploymentDetailLine span {
    color: #c1c1c1;
    font-size: 0.8rem;
    font-weight: 500;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
}

.deploymentDetailLineDomainsSpan {
    font-weight: 700; 
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    text-decoration: underline;
    font-style: italic;
}

.deploymentDetailLineDomainsSpan:hover {
    opacity: 0.6; 
}

.deploymentDetailLine span p {
    padding: 0;
    margin: 0.2rem 0;
    font-weight: 900;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;

}

.deploymentDetailLine span p:hover {
    opacity: 0.6;
    text-decoration: underline;
}

.deploymentDetailLine span p svg {
    padding: 0;
    margin-right: 0.5rem;
    font-weight: 800;
    opacity: 0.8;
}

.deploymentDetailLine span p i {
    padding: 0;
    margin-right: 1rem;
    font-weight: 500;
    opacity: 0.8;
    margin-left: 0.5rem;
}

.productionDeploymentFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.productionDeploymentFooter button {
    background-color: rgba(255, 2552, 255, 0.05);
    border: 1px solid #A3A3A3;
    border-radius: 6px;
    box-shadow: 0 0 10px black;
    height: 35px;
    font-size: 0.7rem;
    font-weight: 700;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.8rem;
    box-sizing: border-box;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 200px;
    cursor: pointer;
}

.productionDeploymentFooter button:hover {
    opacity: 0.6;
    border: 1px solid #A3A3A3;
    outline: none;
}

.productionDeploymentFooter button:focus {
    border: 1px solid #A3A3A3;
    outline: none;
}

.deploymentProtectionToggles {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
    overflow: scroll;
    padding: 0 0.4rem;
}

.deploymentProtectionToggles p {
    color: #c1c1c1;
    font-size: 0.8rem;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.deploymentProtectionToggles p:hover {
    opacity: 0.6;
    transform: scale(1.05);
}

.statusDot,
.statusDotBig {
    border-radius: 50%;
    display: inline-block;
}

.statusDot {
    min-width: 10px;
    max-width: 10px;
    height: 10px;
    margin-right: 5px;
}

.statusDotBig {
    min-width: 15px;
    max-width: 15px;
    height: 15px;
    margin-right: 10px;
}

.productionDeploymentMultiCellFlex {
    width: 100%;
    min-height: 350px;
    max-height: 350px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5rem;
    animation: projectDetailsCellFadeIn 0.5s ease-out;
    max-width: 1100px;
    margin-bottom: 20px;
}

.productionDeploymentCellShort {
    width: 50%;
    min-height: 350px;
    max-height: 340px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    animation: projectDetailsCellFadeIn 0.5s ease-out;
    overflow: scroll;
    box-shadow: 0 0 10px black;
    overflow: hidden;
}

.productionDeploymentCellShortHeader {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: #25242E;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.productionDeploymentCellShortHeader h2 {
    color: #f5f5f5;
    font-weight: 600;
    margin: 0;
    font-size: 1rem;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.4rem;
    box-sizing: border-box;
}

.productionDeploymentCellShortHeader h2 svg {
    font-size: 0.8rem;
    color: #c1c1c1;
    opacity: 0.8; 
    margin-left: 0.4rem;
}

.productionDeploymentCellShortHeader svg {
    font-size: 1rem;
    font-weight: 800;
    color: #f5f5f5;
}

.previousDeploymentsList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 40px 0;
    overflow: scroll;
}

.previousCommitItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    cursor: pointer;
}


.previousCommitItem div {
    min-width: 10%;
    max-width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.previousCommitItem img {
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.previousCommitItem span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    min-width: 90%;
    max-width: 90%;
}

.previousCommitItem span p {
    padding: 0;
    margin: 0;
    color: #c1c1c1;
    font-size: 0.7rem;
    font-weight: 800;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90%;
}

.previousCommitItem span small {
    padding: 0;
    margin: 0;
    color: #c1c1c1;
    font-size: 0.6rem;
    font-weight: 500;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.previousCommitItem:hover {
    background: rgba(255, 255, 255, 0.1);
}

.productionAnalyticsList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: calc(350px - 30px);
    padding: 10px 20px;
    overflow-y: auto;
}

.productionAnalyticsListTitleWrapper {
    padding: 1rem 0.4rem;
    display: flex;
    flex-direction: column;
}

.productionAnalyticsListTitle {
    color: #c1c1c1;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productionAnalyticsListTitle span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.productionAnalyticsListTitle span p {
    font-size: 0.9rem !important;
    font-weight: 700;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    ;
}

.productionAnalyticsListTitle span img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.productionAnalyticsListStatusWrapper {
    padding: 1rem 0.4rem;
    display: flex;
    flex-direction: column;
}

.productionAnalyticsListStatus {
    color: #c1c1c1;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}



.performancegErrorDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    height: 100%;
}

.performancegErrorDisplay a {
    font-size: 0.9rem;
    font-weight: 900;
    font-style: italic;
    color: #9B68DD;
    margin: 0 0 0 1rem;
    text-decoration: underline;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.performancegErrorDisplay a svg {
    font-size: 0.7rem;
    margin-left: 0.4rem;
}

.performancegErrorDisplay a:hover {
    opacity: 0.6;
    transform: scale(1.05);

}

.productionAnalyticsListStatus i {
    font-size: 0.7rem;
    font-weight: 700;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.productionAnalyticsListStatus span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.2rem;
}

.productionAnalyticsListStatus span p {
    font-size: 1.4rem !important;
    font-weight: 800 !important;
}


.productionAnalyticsListItem,
.productionAnalyticsListItemShort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productionAnalyticsListItem {
    width: 100%;
}

.productionAnalyticsListItemShort {
    width: 50%;
}

.productionAnalyticsListItem div,
.productionAnalyticsListItemShort div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.productionAnalyticsListItem div strong,
.productionAnalyticsListItemShort div strong {
    font-size: 0.8rem;
    font-weight: 800;
    color: #c1c1c1;
    padding: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.productionAnalyticsListItem div svg,
.productionAnalyticsListItemShort div svg {
    margin-right: 1rem;
}


.productionAnalyticsListItem div span,
.productionAnalyticsListItemShort div span {
    display: flex;
    align-items: center;
}

.productionAnalyticsListItem div p,
.productionAnalyticsListItemShort div p {
    font-size: 0.75rem;
    font-weight: 600;
    color: #c1c1c1;
    padding: 0;
    margin: 0;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.productionAnalyticsListItemDivider {
    width: 100%;
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 1rem 0;
}


.productionAnalyticsList .echarts-for-react {
    background: transparent;
    border-radius: 8px;
    padding: 10px;
}

.productionAnalyticsList .echarts-for-react canvas {
    background: transparent !important;
}

.rollbackModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.rollbackModalContainer {
    background: #1e1e1e;
    border-radius: 8px;
    width: 480px;
    max-width: 90%;
    box-shadow: 0 0px 20px black;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2); 
}

.rollbackModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; 
    width: 100%; 
    box-sizing: border-box; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    background-color: #212121;
    padding: 20px 20px; 
}

.rollbackModalHeader h2 {
    margin: 0;
    font-size: 1rem; 
    font-weight: 600; 
    color: #c1c1c1; 
    font-style: italic; 
}

.rollbackModalHeader button {
    background: transparent;
    border: none;
    font-size: 1rem;
    color: #c1c1c1;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: none; 
    outline: none; 
    padding: 0;
}

.rollbackModalHeader button:hover {
    opacity: 0.6; 
    transform: scale(1.1); 
    border: none; 
    outline: none; 
}

.rollbackModalHeader button:focus {
    opacity: 0.6; 
    border: none; 
    outline: none; 
}

.rollbackModalBody {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    overflow: scroll;
    background-color: #191919; 
    position: relative; 
}

.rollbackModalBody p {
    font-size: 0.9rem;
    color: #ddd;
    width: 100%; 
    background-color: #191919; 
    position: sticky; 
    top: 0; 
    padding: 10px 20px; 
    box-sizing: border-box;
    margin: 0; 
    font-size: 0.8rem; 
    font-weight: 600; 
    color: #c1c1c1; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    background-color: #191919 !important; 
}

.rollbackModalBody p a {
    color: #c1c1c1; 
    text-decoration: underline;
    font-style: italic;
    cursor: pointer; 
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: none;
    outline: none; 
}

.rollbackModalBody p a:hover {
    opacity: 0.6; 
    transform: scale(1.02); 
    border: none; 
    outline: none; 
}

.rollbackModalBody p a:focus {
    border: none; 
    outline: none; 
}

.rollbackDeploymentList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0; 
    box-sizing: border-box; 
    max-height: 280px; 
    min-height: 280px; 
    overflow: scroll;
}

.rollbackDeploymentItem {
    border: 1px solid #444;
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;
    max-width: 400px;  
    box-sizing: border-box; 
}

.rollbackDeploymentItem.selected {
    border-color: #5c2be2;
    background: rgba(92, 43, 226, 0.1);
}

.deploymentTitle {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.deploymentTitle strong {
    padding: 0; 
    background-color: rgba(255, 255, 255, 0.0); 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    padding: 0 1rem 0 0;
}

.currentLabel,
.previousLabel {
    font-size: 0.7rem; 
    font-weight: 600; 
    padding: 0.4rem 1rem;
    box-sizing: border-box;
    border-radius: 6px; 
    background: #333;
    color: #f1f1f1; 
}

.deploymentDetails small {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.7rem;
    font-weight: 600; 
    color: #bbb;
    font-style: italic;
    margin-bottom: 0.4rem;
    overflow: scroll; 
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rollbackModalFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; 
    width: 100%; 
    box-sizing: border-box; 
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
    background-color: #212121;
    padding: 20px 20px; 
}

.rollbackModalFooter button {
    padding: 0.4rem 16px;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box; 
    font-size: 0.8rem; 
    font-weight: 700; 
    color: #f1f1f1;
    box-shadow: 0 0 10px solid black;
    border: 1px solid #c1c1c1;
    outline: none; 
}

.rollbackModalFooter button:hover {
    opacity: 0.6; 
    border: 1px solid #c1c1c1;
    outline: none; 
}

.rollbackModalFooter button:focus {
    opacity: 0.6; 
    border: 1px solid #c1c1c1;
    outline: none; 
}

.rollbackModalFooter button:disabled {
    opacity: 0.4;
    cursor: default;
}

.rollbackModalFooter button:first-of-type {
    background: transparent;
}

.rollbackModalFooter button:last-of-type {
    background: rgba(255, 255, 255, 0.2);
}

.noProjectUpdatesAvailableWrapper {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%; 
}

.noProjectUpdatesAvailableWrapper svg {
    font-size: 1.6rem; 
    color: #c1c1c1; 
    margin-bottom: 1rem;
}

.noProjectUpdatesAvailableWrapper strong {
    width: 80%; 
    color: #c1c1c1; 
    font-size: 0.9rem; 
    font-weight: 600; 
    text-align: center;
    padding: 0; 
    margin: 0;
    margin-bottom: 0.6rem; 
}

.noProjectUpdatesAvailableWrapper p {
    width: 70%; 
    color: #c1c1c1; 
    font-size: 0.7rem; 
    font-weight: 500; 
    text-align: center;
    padding: 0; 
    margin: 0; 
    opacity: 0.8;
}

.projectUpdatesAvailableWrapper {
    width: 100%; 
    min-height: 100%; 
    max-height: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: relative;
}

.projectUpdatesAvailableWrapperHeader {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 80px; 
    width: 100%; 
    position: sticky; 
    top: 0; 
    padding: 1rem; 
    box-sizing: border-box;
    background-color: #1B1A24;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    flex: 1;
}

.projectUpdatesAvailableWrapperHeader span {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
}

.projectUpdatesAvailableWrapperHeader span strong {
    font-size: 0.7rem; 
    font-weight: 500; 
    color: #c1c1c1; 
    opacity: 0.8;
    margin: 0; 
    margin-bottom: 0.4rem;
    padding: 0; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.projectUpdatesAvailableWrapperHeader span p {
    font-size: 0.7rem; 
    font-weight: 700; 
    color: #c1c1c1; 
    margin: 0; 
    margin-bottom: 0.2rem;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.projectUpdatesAvailableWrapperHeader span small {
    font-size: 0.7rem; 
    font-weight: 700; 
    color: #c1c1c1; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.projectUpdatesAvailableWrapperHeader img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.projectUpdatesAvailableWrapperHeader:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    opacity: 0.6; 
}

.projectUpdatesAvailableWrapper label {
    width: 100%; 
    text-align: left;
    padding: 1rem; 
    font-size: 0.7rem; 
    font-weight: 700; 
    color: #c1c1c1;
    box-sizing: border-box;
}

.projectUpdatesAvailableWrapperContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 40px 0;
    overflow: scroll;
    flex: 2; 
}
