.resetPageWrapper {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    overflow: scroll; 
    height: 100vh; 
}

.resetCellHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 60px) !important; 
    overflow: hidden;
    position: relative; 
    overflow: scroll; 
}

.resetBlock {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    top: 0;
    right: 0;  
    z-index: 10;
    border-radius: 0; 
    border: none; 
    height: 100%; 
    width: 40vw;
    background: linear-gradient(to bottom, #0C042F, #2D2C33);
}

@media (min-width: 700px) {
    .resetBlock {
        width: 40vw; 
    }

    .loginVideoBackground {
        width: calc(100% - 40vw); 
    }
}

@media (max-width: 699px) {
    .resetBlock {
        width: 50vw; 
    }

    .loginVideoBackground {
        width: calc(100% - 50vw); 
    }
}

.resetLogo, 
.resetLogoSub {
    height: 120px;
    margin-right: 0;
    margin-top: 4rem;
    margin-bottom: 2rem; 
}

@media (min-width: 1200px) {
    .resetLogo, 
    .resetLogoSub  {
        height: 160px;
        margin-right: 0;
        margin-top: 4rem;
        margin-bottom: 2rem; 
    }
}

.resetPrompt {
    font-size: 0.9rem; 
    font-weight: 800; 
    opacity: 0.9;
    color: #c1c1c1;
    margin-bottom: 1rem; 
    width: 80%; 
    text-align: center;
}

@media (min-width: 700px) {
    .resetBlock {
        width: 40vw; 
    }
}

@media (max-width: 699px) {
    .resetBlock {
        width: 100vw; 
    }
}