.leadingIDEDirectoryStack,
.stackforgeIDESettingsContainer,
.stackforgeIDEAlertOverlay,
.stackforgeIDEEditingSearchBoxWrapper,
.stackforgeIDETableWrapperContainer {
    -webkit-user-select: text !important;
    user-select: text !important;
    ::selection {
      background: transparent !important;
      color: inherit !important;
    }
    ::-moz-selection {
      background: transparent !important;
      color: inherit !important;
    }
}
