@media (min-width: 1300px) {
    @keyframes spin-large {
        0% { transform: rotate(360deg); }
        100% { transform: rotate(0deg); }
    }

    .loading-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 1.6vw; 
    }

    .loading-circle {
        width: 3vw; 
        height: 3vw;
        border-radius: 50%;
        background: conic-gradient(
            from 0deg,
            rgba(255, 255, 255, 1) 0deg, 
            rgba(255, 255, 255, 0) 300deg 
        );
        mask: radial-gradient(farthest-side, transparent 80%, black 60%);
        animation: spin-large 2s linear infinite; 
    }

    .loading-circle-supplement {
        width: 1.5vw; 
        height: 1.5vw; 
        border-radius: 50%;
        background: conic-gradient(
            from 0deg,
            rgba(255, 255, 255, 1) 0deg, 
            rgba(255, 255, 255, 0) 300deg 
        );
        mask: radial-gradient(farthest-side, transparent 80%, black 60%); 
        animation: spin-medium 1.5s linear infinite; 
    }


    .loading-title {
        font-size: 2vw;
        color: #ffffff;
        font-weight: 600;
        text-shadow: 0 0 1.2px white; 
    }

    .loading-title-supplement {
        font-size: 0.8vw;
        color: #ffffff;
        font-weight: 600;
        text-shadow: 0 0 0.6px white; 
        opacity: 0.8;
        font-style: italic;
    }
}

@media (min-width: 700px) and (max-width: 1299px) {
    @keyframes spin-medium {
        0% { transform: rotate(360deg); }
        100% { transform: rotate(0deg); }
    }

    .loading-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 1.6vw; 
    }

    .loading-wrapper-supplement {
        height: 100% !important; 
        display: flex; 
        justify-content: center; 
        align-items: center;
        gap: 0.8vw; 
        margin-left: 1vw; 
    }

    .loading-circle {
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        background: conic-gradient(
            from 0deg,
            rgba(255, 255, 255, 1) 0deg, 
            rgba(255, 255, 255, 0) 300deg 
        );
        mask: radial-gradient(farthest-side, transparent 80%, black 60%); 
        animation: spin-medium 1.5s linear infinite; 
    }

    .loading-circle-supplement {
        width: 1.5vw; 
        height: 1.5vw; 
        border-radius: 50%;
        background: conic-gradient(
            from 0deg,
            rgba(255, 255, 255, 1) 0deg, 
            rgba(255, 255, 255, 0) 300deg 
        );
        mask: radial-gradient(farthest-side, transparent 80%, black 60%); 
        animation: spin-medium 1.5s linear infinite; 
    }

    .loading-title {
        font-size: 2vw;
        color: #ffffff;
        font-weight: 600;
        text-shadow: 0 0 1.2px white; 
        font-style: italic;
    }

    .loading-title-supplement {
        font-size: 0.8vw;
        color: #ffffff;
        font-weight: 600;
        text-shadow: 0 0 0.6px white; 
        opacity: 0.8;
        font-style: italic;
    }
}

@media (min-width: 500px) and (max-width: 699px) {
    @keyframes spin-small {
        0% { transform: rotate(360deg); }
        100% { transform: rotate(0deg); }
    }

    .loading-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 2.6vw; 
    }

    .loading-circle {
        width: 6vw; 
        height: 6vw;
        border-radius: 50%;
        background: conic-gradient(
            from 0deg,
            rgba(255, 255, 255, 1) 0deg, 
            rgba(255, 255, 255, 0) 300deg
        );
        mask: radial-gradient(farthest-side, transparent 80%, black 60%); 
        animation: spin-small 1.5s linear infinite;
    }

    .loading-circle-supplement {
        width: 3vw; 
        height: 3vw; 
        border-radius: 50%;
        background: conic-gradient(
            from 0deg,
            rgba(255, 255, 255, 1) 0deg, 
            rgba(255, 255, 255, 0) 300deg 
        );
        mask: radial-gradient(farthest-side, transparent 80%, black 60%); 
        animation: spin-medium 1.5s linear infinite; 
    }


    .loading-title {
        font-size: 4vw;
        color: #ffffff;
        font-weight: 600;
        text-shadow: 0 0 1px white;
    }

    .loading-title-supplement {
        font-size: 1.6vw;
        color: #ffffff;
        font-weight: 600;
        text-shadow: 0 0 0.6px white; 
        opacity: 0.8;
        font-style: italic;
    }
}

@media (max-width: 499px) {
    @keyframes spin-small {
        0% { transform: rotate(360deg); }
        100% { transform: rotate(0deg); }
    }

    .loading-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 2.6vw; 
    }

    .loading-circle {
        width: 6vw; 
        height: 6vw;
        border-radius: 50%;
        background: conic-gradient(
            from 0deg,
            rgba(255, 255, 255, 1) 0deg, 
            rgba(255, 255, 255, 0) 300deg
        );
        mask: radial-gradient(farthest-side, transparent 80%, black 60%); 
        animation: spin-small 1.5s linear infinite;
    }

    .loading-circle-supplement {
        width: 3vw; 
        height: 3vw; 
        border-radius: 50%;
        background: conic-gradient(
            from 0deg,
            rgba(255, 255, 255, 1) 0deg, 
            rgba(255, 255, 255, 0) 300deg 
        );
        mask: radial-gradient(farthest-side, transparent 80%, black 60%); 
        animation: spin-medium 1.5s linear infinite; 
    }


    .loading-title {
        font-size: 4vw;
        color: #ffffff;
        font-weight: 600;
        text-shadow: 0 0 0.2px white;
    }

    .loading-title-supplement {
        font-size: 1.6vw;
        color: #ffffff;
        font-weight: 600;
        text-shadow: 0 0 0.6px white; 
        opacity: 0.8;
        font-style: italic;
    }
}
